<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">SEO Análise</a>
		</div>
	</div>
</nav>

<div class="seo-wrapper">
	
	<div class="row form-wrapper">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
			<h3>Insira aqui a URL que será analizada:</h3>
			<%= form_tag url_for(:controller => 'seo_main', :action => 'show'), :method => 'get' do %>
				<%= text_field_tag "url", params[:url], class: "form-control form-input", placeholder: "https://exemplo.com.br/" %>
				<%= submit_tag "Analisar", class: "form-btn btn btn-primary" %>
			<% end %>
		</div>
	</div>

	<div class="row rules">
		<h3>Como faço pro meu site ter uma classificação melhor no Google?</h3><br><br>

		<div class="col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-2">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<h4>1º Passo</h4>
			<p>Copie a url da página que será analisada. <br><small><i>Ex: www.meuexemplo.com</i></small></p>
		</div>

		<div class="col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-1">
			<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
			<h4>2º Passo </h4>
			<p>Clique em <b>ANALISAR</b>, e depois de aplicarmos o nosso algorítmo de análise atribuiremos uma pontuação a seu site</p>
		</div>

		<div class="col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-1">
			<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
			<h4>3º Passo </h4>
			<p>Nossa plataforma análisa o seu código e sugere mudanças para que os buscadores como o <b>Google</b> te deem uma nota maior</p>
		</div>
	</div>

</div>


